openapi: 3.1.0
info:
  title: OmniCharts API
  version: 1.0.0
  description: |
    Public REST API for OmniCharts streaming analytics (implemented subset).

    **Platform (Phase 3):** Twitch, Kick, and YouTube have rollup-backed channel and game rankings when ingest has tracked channels and rollups. Kick also has search + optional webhook session boundaries. YouTube uses tracked UC catalog poll (no discover cron).

    **Periods:** `24h`, `7d`, `30d`, `90d` (rankings and channel detail). `90d` requires rollup history depth (Phase 4).

    Metrics come from OmniCharts rollups, not third-party warehouses.

servers:
  - url: https://ingest.omnicharts.com/v1
    description: Ingest Worker (production TBD)
  - url: http://127.0.0.1:8787/v1
    description: Local wrangler dev

tags:
  - name: rankings
  - name: channels
  - name: games
  - name: search
  - name: admin

paths:
  /rankings/channels:
    get:
      tags: [rankings]
      summary: Top channels by hours watched
      operationId: listChannelRankings
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/period'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Ranked channel list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelRankingResponse'
            text/csv:
              schema:
                type: string
              example: |
                rank,slug,display_name,hours_watched,average_viewers,peak_viewers,airtime_hours,stream_count,tracked_since
                1,caedrel,Caedrel,2173869,45210,120334,48.1,12,2026-03-15T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'

  /rankings/games:
    get:
      tags: [rankings]
      summary: Top games by average viewers
      operationId: listGameRankings
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/period'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Ranked game list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameRankingResponse'
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'

  /channels/{slug}:
    get:
      tags: [channels]
      summary: Channel summary and daily rollup series
      operationId: getChannel
      parameters:
        - $ref: '#/components/parameters/slug'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/period'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Channel detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetailResponse'
            text/csv:
              schema:
                type: string
              description: Daily rollup series (`date,hours_watched,...`)
        '404':
          $ref: '#/components/responses/NotFound'

  /compare/channels:
    get:
      tags: [channels]
      summary: Side-by-side two-channel rollup compare
      operationId: compareChannels
      description: |
        Rollup reads only — composes two channel detail responses. Web UI at `/compare?a=&b=`.
        Implemented on Pages at `/api/v1/compare/channels`; ingest HTTP fallback uses two `GET /v1/channels/{slug}` calls.
      parameters:
        - name: a
          in: query
          required: true
          schema:
            type: string
          description: First channel slug
        - name: b
          in: query
          required: true
          schema:
            type: string
          description: Second channel slug
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/comparePeriod'
      responses:
        '200':
          description: Compare payload with found flags per side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareChannelsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /admin/watchlist/import:
    post:
      tags: [admin]
      summary: Bulk import agency watchlist channels (admin)
      operationId: importWatchlistCsv
      servers:
        - url: https://ingest.omnicharts.com
          description: Ingest Worker root (production TBD)
        - url: http://127.0.0.1:8787
          description: Local wrangler dev (ingest root)
      description: |
        Promotes or creates `ingest_state = tracked` rows from CSV (`platform,slug`).
        Requires `X-Admin-Api-Key` or `Authorization: Bearer` admin secret. Phase 4 agency workflow.
      security:
        - AdminApiKey: []
      requestBody:
        required: true
        content:
          text/csv:
            schema:
              type: string
            example: |
              platform,slug
              twitch,ninja
              kick,xqc
          application/json:
            schema:
              type: object
              required: [csv]
              properties:
                csv:
                  type: string
      responses:
        '200':
          description: Import summary with per-row results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchlistImportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Missing or invalid admin API key

  /admin/twitch/vod-backfill:
    post:
      tags: [admin]
      summary: Backfill Twitch archive VOD metadata (admin)
      operationId: backfillTwitchVodMetadata
      servers:
        - url: https://ingest.omnicharts.com
          description: Ingest Worker root (production TBD)
        - url: http://127.0.0.1:8787
          description: Local wrangler dev (ingest root)
      description: |
        Fetches Helix archive VODs for tracked Twitch channels and upserts metadata into
        `stream_sessions` (`backfill_source = vod`). Tier windows 7/14/60 days by broadcaster type.
      security:
        - AdminApiKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VodBackfillRequest'
      responses:
        '200':
          description: Backfill summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VodBackfillResponse'
        '401':
          description: Missing or invalid admin API key
        '503':
          description: Twitch credentials not configured

  /channels/resolve:
    get:
      tags: [channels]
      summary: Resolve slug or slug_history alias to canonical slug
      operationId: resolveChannelSlug
      parameters:
        - name: slug
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: Canonical slug
          content:
            application/json:
              schema:
                type: object
                required: [platform, slug, from_history]
                properties:
                  platform:
                    $ref: '#/components/schemas/Platform'
                  slug:
                    type: string
                  from_history:
                    type: boolean
                    description: true when resolved via slug_history
        '404':
          $ref: '#/components/responses/NotFound'

  /games/{slug}:
    get:
      tags: [games]
      summary: Game/category summary
      operationId: getGame
      parameters:
        - $ref: '#/components/parameters/slug'
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/period'
      responses:
        '200':
          description: Game detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /search/channels:
    get:
      tags: [search]
      summary: Search channels by slug or display name prefix
      operationId: searchChannels
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 100
        - $ref: '#/components/parameters/platform'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 10
      responses:
        '200':
          description: Search hits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

components:
  parameters:
    platform:
      name: platform
      in: query
      schema:
        $ref: '#/components/schemas/Platform'
      description: |
        `twitch`, `kick`, and `youtube` return rollup-backed rankings when ingest has data.
        Empty `items` or `results` are valid when no tracked channels meet eligibility gates.
    period:
      name: period
      in: query
      schema:
        $ref: '#/components/schemas/Period'
    comparePeriod:
      name: period
      in: query
      schema:
        $ref: '#/components/schemas/ComparePeriod'
      description: Compare windows — `7d`, `30d`, or `90d` only (defaults `7d`).
    slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    format:
      name: format
      in: query
      schema:
        type: string
        enum: [json, csv]
        default: json
      description: |
        `csv` returns RFC 4180 CSV with `Content-Disposition: attachment` (Phase 4).
        Supported on rankings and channel detail endpoints.

  schemas:
    Platform:
      type: string
      enum: [twitch, kick, youtube]

    Period:
      type: string
      enum: [24h, 7d, 30d, 90d]
      default: 7d

    ComparePeriod:
      type: string
      enum: [7d, 30d, 90d]
      default: 7d

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string

    ChannelRankingItem:
      type: object
      required:
        - rank
        - slug
        - display_name
        - hours_watched
        - average_viewers
      properties:
        rank:
          type: integer
        slug:
          type: string
        display_name:
          type: string
        avatar_url:
          type: [string, 'null']
          format: uri
        hours_watched:
          type: number
        average_viewers:
          type: number
        peak_viewers:
          type: [integer, 'null']
          description: Max daily peak in period; null if no rollup rows (legacy clients).
        airtime_hours:
          type: [number, 'null']
          description: Sum of airtime in period, hours; null if no rollup rows.
        stream_count:
          type: integer
          description: Sum of daily stream_count rollup rows in period.
        tracked_since:
          type: [string, 'null']
          format: date-time

    ChannelRankingResponse:
      type: object
      required: [platform, period, updated_at, items]
      properties:
        platform:
          $ref: '#/components/schemas/Platform'
        period:
          $ref: '#/components/schemas/Period'
        updated_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChannelRankingItem'

    GameRankingItem:
      type: object
      required: [rank, slug, name, average_viewers]
      properties:
        rank:
          type: integer
        slug:
          type: string
        name:
          type: string
        average_viewers:
          type: number
        hours_watched:
          type: number
        box_art_url:
          type: [string, 'null']
          format: uri

    GameRankingResponse:
      type: object
      required: [platform, period, updated_at, items]
      properties:
        platform:
          $ref: '#/components/schemas/Platform'
        period:
          $ref: '#/components/schemas/Period'
        updated_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/GameRankingItem'

    DailyMetricPoint:
      type: object
      required:
        - date
        - hours_watched
        - average_viewers
        - peak_viewers
        - airtime_hours
        - stream_count
      properties:
        date:
          type: string
          format: date
        hours_watched:
          type: number
        average_viewers:
          type: number
        peak_viewers:
          type: integer
        airtime_hours:
          type: number
          description: airtime_minutes / 60, one decimal
        stream_count:
          type: integer

    ChannelDetailResponse:
      type: object
      required:
        - platform
        - slug
        - display_name
        - ingest_state
        - period
        - totals
        - daily
      properties:
        platform:
          $ref: '#/components/schemas/Platform'
        slug:
          type: string
        display_name:
          type: string
        avatar_url:
          type: [string, 'null']
          format: uri
        language:
          type: [string, 'null']
        tracked_since:
          type: [string, 'null']
          format: date-time
          description: first_observed_at in ingest DB
        ingest_state:
          type: string
          enum: [discovered, tracked, dormant, retired]
        follower_count:
          type: [integer, 'null']
        description:
          type: [string, 'null']
        period:
          $ref: '#/components/schemas/Period'
        totals:
          type: object
          required:
            - hours_watched
            - average_viewers
            - peak_viewers
            - airtime_hours
            - stream_count
            - followers_gain
          properties:
            hours_watched:
              type: number
            average_viewers:
              type: number
            peak_viewers:
              type: integer
            airtime_hours:
              type: number
            stream_count:
              type: integer
            followers_gain:
              type: [integer, 'null']
              description: Sum of daily followers_delta when snapshots exist
        daily:
          type: array
          items:
            $ref: '#/components/schemas/DailyMetricPoint'

    GameDailyMetricPoint:
      type: object
      required:
        - date
        - hours_watched
        - average_viewers
        - peak_viewers
        - airtime_hours
        - live_channels
      properties:
        date:
          type: string
          format: date
        hours_watched:
          type: number
        average_viewers:
          type: number
        peak_viewers:
          type: integer
        airtime_hours:
          type: number
        live_channels:
          type: integer

    GameDetailResponse:
      type: object
      properties:
        platform:
          $ref: '#/components/schemas/Platform'
        slug:
          type: string
        name:
          type: string
        period:
          $ref: '#/components/schemas/Period'
        totals:
          type: object
        daily:
          type: array
          items:
            $ref: '#/components/schemas/GameDailyMetricPoint'
        top_channels:
          type: array
          description: Top tracked channels for this game in the period (hours watched)
          items:
            type: object
            required: [rank, slug, display_name, hours_watched]
            properties:
              rank:
                type: integer
              slug:
                type: string
              display_name:
                type: string
              avatar_url:
                type: [string, 'null']
                format: uri
              hours_watched:
                type: number

    ChannelSearchHit:
      type: object
      required: [id, slug, display_name, platform_id]
      properties:
        id:
          type: string
        slug:
          type: string
        display_name:
          type: string
        avatar_url:
          type: [string, 'null']
          format: uri
        platform_id:
          $ref: '#/components/schemas/Platform'

    ChannelSearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ChannelSearchHit'

    CompareChannelSide:
      type: object
      required: [slug, found, channel]
      properties:
        slug:
          type: string
        found:
          type: boolean
          description: false when channel row missing on platform
        channel:
          oneOf:
            - $ref: '#/components/schemas/ChannelDetailResponse'
            - type: 'null'

    CompareChannelsResponse:
      type: object
      required: [platform, period, updated_at, a, b]
      properties:
        platform:
          $ref: '#/components/schemas/Platform'
        period:
          $ref: '#/components/schemas/ComparePeriod'
        updated_at:
          type: string
          format: date-time
        a:
          $ref: '#/components/schemas/CompareChannelSide'
        b:
          $ref: '#/components/schemas/CompareChannelSide'

    WatchlistImportRowResult:
      type: object
      required: [line, platform, slug, status]
      properties:
        line:
          type: integer
        platform:
          $ref: '#/components/schemas/Platform'
        slug:
          type: string
        status:
          type: string
          enum: [imported, promoted, skipped, not_found, needs_api, error]
        channel_id:
          type: string
        message:
          type: string

    WatchlistImportResponse:
      type: object
      required: [ok, skipped, imported, promoted, skipped_rows, not_found, errors, parse_errors, results]
      properties:
        ok:
          type: boolean
        skipped:
          type: boolean
          description: True when every row returned needs_api
        needs_api:
          type: string
        imported:
          type: integer
        promoted:
          type: integer
        skipped_rows:
          type: integer
        not_found:
          type: integer
        errors:
          type: integer
        parse_errors:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/WatchlistImportRowResult'

    VodBackfillRequest:
      type: object
      properties:
        platform_channel_ids:
          type: array
          items:
            type: string
          description: Helix broadcaster user_id values; omit for next stale tracked batch
        limit:
          type: integer
          minimum: 1
          description: Max channels per run (default 25)

    VodBackfillStats:
      type: object
      required: [ok, candidates, channels_processed, videos_fetched, sessions_upserted, pages]
      properties:
        ok:
          type: boolean
        skipped:
          type: string
          enum: [NEEDS_API]
        candidates:
          type: integer
        channels_processed:
          type: integer
        videos_fetched:
          type: integer
        sessions_upserted:
          type: integer
        pages:
          type: integer

    VodBackfillResponse:
      type: object
      required: [ok, mode, stats]
      properties:
        ok:
          type: boolean
        mode:
          type: string
          enum: [vod_backfill]
        stats:
          $ref: '#/components/schemas/VodBackfillStats'

  securitySchemes:
    AdminApiKey:
      type: apiKey
      in: header
      name: X-Admin-Api-Key
      description: Ingest Worker admin secret (Bearer token also accepted)

  responses:
    BadRequest:
      description: Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
